@model LuckySpin.Models.Spin
@inject LuckySpin.Models.TextTransformService TxtTransformService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lucky Spin</title>
    <link rel="stylesheet" href="/luckyStyles.css">
</head>
<body>
    <button onclick='history.go(0)'>Spin</button>
    <div>@Model.SpinNum1</div><div>@Model.SpinNum2</div><div>@Model.SpinNum3</div>
    <h1> Lucky @TxtTransformService.numberToText(@Model.LuckyNumber) </h1>
    <img src="/Images/LuckySpinCoins.jpg" alt="Coins" style="display:@Model.ImgDisplay" />
</body>
</html>
